# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.log

# Android
android/.gradle/
android/app/build/
*.apk
*.ap_
*.so
*.dex
*.class
*.jar
*.keystore

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/engine/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
