# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build outputs
build/
ios/Pods/
android/.gradle/
android/app/build/

# IDE files
.idea/
.vscode/
*.iml

# OS files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Binaries
*.apk
*.aab
*.zip
*.mp4
